.vs/
.idea/

/contas/contas.Application/bin/
/contas/contas.Application/obj/

/contas/contas-api-model/bin/
/contas-api-model/obj/

/contas.DomainModel/bin/
/contas.DomainModel/obj/

/contas.Test/bin/
/contas.Test/obj/



.DS_Store


